.change-password-main {
  background: #eff3f5;
  min-height: 100%;
  width: 100%;
  height: 100%;
  .content-wraper {
    max-width: 100%;
    margin: auto;
    h4 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px !important;
    }
    .logo-wrap {
      margin-bottom: 10px;
      img {
        max-width: 80px;
      }
    }
    .form-title {
      font-weight: bold;
    }
    .auto-form-wrapper {
      margin-bottom: 25px;
      background-color: $white;
      padding: 15px 30px;
      border-radius: 4px;
      border: 1px solid #c3cde4;
      box-shadow: 0px 0px 15px 0px rgba(211, 211, 211, 0.7);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(211, 211, 211, 0.7);
      -moz-box-shadow: 0px 0px 15px 0px rgba(211, 211, 211, 0.7);
      @media screen and (max-width: 767px) {
        padding: 20px 20px 10px;
      }
      form {
        .form-group {
          .form-control {
            border: 1px solid $light-color;
            border-radius: 6px;
            padding: 10px 12px;
            background-image: none;
            font-size: 14px;
            font-weight: 500;
            &::-webkit-input-placeholder {
              /* Edge */
              color: $light-color;
            }
            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: $light-color;
            }
            &::placeholder {
              color: $light-color;
            }
          }
          &.bmd-form-group {
            padding-top: 33px;
            label {
              color: $text_color;
              font-size: 14px;
            }
            &.is-focused {
              label {
                color: $primary-color;
              }
            }
          }
          .login {
            @include theme-btn($width: auto, $padding: '12px 20px');
            border-radius: 6px;
          }
          .form-check {
            label {
              color: $text_color;
              font-size: 14px;
            }
          }
          .forgot-password {
            font-size: 14px;
            color: $text_color;
          }
          .sign-with-btn {
            width: auto;
            border: 1px solid $light-color;
            border-radius: 6px;
            font-size: 14px;
            font-weight: bold;
            color: $text_color;
            padding: 12px 8px;
            box-shadow: none;
          }
        }
      }
    }
  }
}
