header {
  padding: 10px 0;
  background: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  .header-top {
    .brand-title {
      img {
        width: 60px;
      }
    }
    .search-wraper {
      width: 90%;
      justify-content: flex-end;
      border-top: 0;
      padding: 0;
      .bmd-form-group {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .collapse {
          width: calc(100% - 125px) !important;
          margin-right: 15px;
          display: block !important;
          &.width.collapse {
            display: block !important;
          }
          .form-control {
            font-size: 14px;
            padding: 5px 10px;
            border: 1px solid $light-color;
            background-image: inherit;
            border-radius: 2px;
            height: 44px;
            max-width: 100%;
            float: right;
          }
        }
        .btn {
          width: inherit;
          height: inherit;
          border-radius: 2px;
          @include theme-btn($width: 100px, $padding: 0);
          font-size: 15px;
          text-decoration: inherit;
          text-transform: inherit;
          height: 44px;
          overflow: hidden;
          i {
            font-size: 21px;
            line-height: 24px;
          }
          span {
            padding-left: 5px;
            vertical-align: top;
            line-height: 22px;
          }
        }
      }
    }
    .user {
      .btn-group {
        .btn {
          img {
            width: 37px;
            height: 37px;
            border-radius: 100%;
          }
          &:hover,
          &:focus {
            background-color: transparent;
          }
        }
			}
    }
  }
  .nevigation {
    .nevigation-wrap {
      ul {
        list-style: none;
        margin-top: 10px;
        li {
          display: inline-block;
          .account {
            background-color: $bg-light;
            color: $text_color;
            text-transform: inherit;
            font-weight: 600;
            width: 175px;
            font-size: 16px;
            line-height: 16px;
            padding: 15px 10px;
            margin-bottom: 1px;
          }
          .btn-group {
            margin: 10px 0 0;
            .btn {
              background-color: $bg-light;
              color: $text_color;
              text-transform: inherit;
              font-weight: 600;
              width: 175px;
              line-height: 16px;
              font-size: 16px;
              padding: 15px 10px;
              margin-bottom: 1px;
            }
          }
        }
      }
    }
  }
}
