<table border="0" cellpadding="0" cellspacing="0" height="100%" width="600" style="margin:0 auto" class="full-width">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" class="full-width"
          id="m_-5842241037847540813template_container"
          style="border-radius:6px!important;background-color:#fdfdfd;border:1px solid #ccc;border-radius:6px!important">
          <tbody>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                  id="m_-5842241037847540813template_header"
                  style="border-top-left-radius:6px!important;border-top-right-radius:6px!important;border-bottom:0;font-family:Arial;font-weight:bold;line-height:100%;vertical-align:middle">
                  <tbody>
                    <tr>
                      <td align="center" valign="center"
                        style="padding: 15px 0;background-color: #fdfdfd;border-bottom: 1px solid #cccccc;">
                        <a href="http://52.117.46.22:3000/" target="_blank">
                          <img src="cid:tensorplace" class="CToWUd"><br>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-5842241037847540813template_body">
                  <tbody>
                    <tr>
                      <td class="padd-m" valign="top"
                        style="background-color:#fdfdfd;border-radius:6px!important;padding:30px">

                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <h1
                                  style="color:#1e2129;font-family:Arial;font-size:24px;line-height:150%;text-align:left;font-weight:bold;padding-bottom:15px">
                                  Hello,</h1>
                                <p
                                  style="color:#6b757e;font-family:Arial;font-size:16px;line-height:150%;text-align:left;padding-bottom:15px;">
                                 {{developerMsg}}</p>
                                <!-- <p
                                  style="color:#6b757e;font-family:Arial;font-size:16px;line-height:150%;text-align:left;padding-bottom:15px">
                                  If this was a mistake, just ignore this email and nothing will happen.</p>
                                <p
                                  style="color:#6b757e;font-family:Arial;font-size:16px;line-height:150%;text-align:left;padding-bottom:15px">
                                  To reset your password, visit the following address:</p>
                                <p><a href="#"
                                    target="_blank">http://52.117.46.22:3000/<wbr>forgot-<wbr>password/?somresetpass=true&amp;<wbr>somfrp_action=rp&amp;key=<wbr>L9toaS22j01DV83HPZbj&amp;login=<wbr>rajesh</a>
                                </p> -->
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" style="padding-top:20px">
                                <p
                                  style="color:#6b757e;font-family:Arial;font-size:16px;line-height:150%;text-align:left;padding-bottom:15px">
                                  Best regards, </p>
                                <p
                                  style="color:#6b757e;font-family:Arial;font-size:16px;line-height:150%;text-align:left;padding-bottom:15px">
                                  <span class="il">TensorPlace</span> </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" style="padding:15px;background-color:#031d28">
                <font color="#888888" />
                
                <table class="bottom" border="0" cellpadding="10" cellspacing="0" width="100%"
                  id="m_-5842241037847540813template_footer" style="border-top:0">
                  <tbody>
                    <tr style="vertical-align: middle;">
                      <td valign="center" align="center" cellpadding="0" cellspacing="0">
                        <img
                          src="https://ci3.googleusercontent.com/proxy/z7MVcvSG7z_f4AeXHth6PqLFj3FDRAU92xXrZrTbpgCGnCn_3Kzhp9oxACLmrwBg3pLT9t9ifDjGQI9poFaa46Y-pnT_D04PjS_7Q_JaLZZyePWobA=s0-d-e1-ft#https://phptasks.com/topmagentoagency/images/2019/09/icon-mail.png"
                          class="CToWUd" style="">
                        <a href="mailto:contact@tensorflow.io"
                          style="color:#fff;font-family:Arial;font-size:16px;text-decoration:none;padding-left: 5px;"
                          target="_blank">contact@tensorflow.io</a>
                      </td>
                      <td valign="top" align="center" cellpadding="0" cellspacing="0">
                        <img
                          src="https://ci5.googleusercontent.com/proxy/NxFyIAC6o83GZXxZ5bqRJ-clwyw3eX1BdUJn9_zh5lT6RXTx0z4HBWHZunlStCpdFlgGxfAPuktqwhiWrUz_UODcJ1XHTgpJgQnk7Svo1QLNVHsCSkA=s0-d-e1-ft#https://phptasks.com/topmagentoagency/images/2019/09/icon-phone.png"
                          class="CToWUd">
                        <a href="tel:+91%2012%201234%2056798"
                          style="color:#fff;font-family:Arial;font-size:16px;text-decoration:none;vertical-align:top;padding-left: 5px;margin-top: 3px;display: inline-block;"
                          target="_blank">+91 12 1234 56798</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <p>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>